<!DOCTYPE html>
<html lang="zh-ch" class="login">
	<%- include("./public/head.ejs") %>
	<body>
		<section>
			<form action="/zc" method="post" class="zc">
					<div class="form-group">
						<label for="" style="color: white;">账号</label>
						<input type="text" name="zh">
					</div>
					<div class="form-group">
						<label for=""style="color: white;">密码</label>
						<input type="text" name="mm">
						
					</div>
					<p><input type="submit" value="注册"></p>
					
				</form>
		</section>
		<%- include("./public/footer.ejs") %>
	</body>
	</html>
  